.workspace2 {
  background-color: #f9f9f9;
  height: 95vh;
  width: 71vw;
  position: relative;
  right: 0;
  left: 19%;
  border: 1px solid #ccc;
  overflow: hidden;
  cursor: grab;
}

h2 {
  text-align: center;
}

.workspace-container2 {
  flex: 1; /* Take up all available space */
  display: flex;
  justify-content: center; /* Center the canvas horizontally */
  align-items: center; /* Center the canvas vertically */
  overflow: hidden; /* Prevents overflow when zooming */
  background-color: coral;
  position: relative; /* Allow absolutely positioned components to be positioned within this container */
  cursor: auto;
}

.component {
  position: absolute;
  transition: border 0.2s; /* Smooth border transition */
}

.component.selected {
  z-index: 1; /* Bring selected component to the front */
  background-color: #1a17173e;
}

.placed-component {
  position: absolute;
  cursor: grab;
}
