
.workspace {
  background-color: #e02d2d;
  height: 95vh;
  width: 73vw;
  position: relative;
  right: 0;
  left: 17%;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  overflow: hidden; /* Prevent scrolling */
}
h2 {
  text-align: center; /* Use CSS for centering */
}


.workspace-container {
  position: relative;
  padding: 0; /* No padding to avoid extra space */
  background-color: #170a0a;
  overflow: hidden; /* Prevent scrolling within the workspace */
  height: auto;
  width: auto;
}

/* Placed Component */
.placed-component {
  position: absolute;
  border: 1px solid #000;
  background-color: #284fd1;
  border-radius: 5px;
  cursor: move;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* Connection Line */
.connection-line {
  position: absolute;
  pointer-events: none;
}

