.workspace2 {
  background-color: #f9f9f9;
  height: 95vh;
  width: 73vw;
  position: relative;
  right: 0;
  left: 17%;
  border: 1px solid #ccc;
  overflow: hidden;
  cursor: grab;
}

h2 {
  text-align: center;
}

.workspace-container2 {
  flex: 1; /* Take up all available space */
  display: flex;
  justify-content: center; /* Center the canvas horizontally */
  align-items: center; /* Center the canvas vertically */
  overflow: hidden; /* Prevents overflow when zooming */
  background-color: coral;
  position: relative; /* Allow absolutely positioned components to be positioned within this container */
}

.component {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: lightblue;
  border: 1px solid gray;
  transition: border 0.2s; /* Smooth border transition */
}

.component.selected {
  border: 2px solid white; /* Highlight selected component */
  z-index: 1; /* Bring selected component to the front */
}

.component:hover {
  cursor: grab; /* Change cursor on hover */
}
.placed-component {
  position: absolute;
  width: 50px;
  height: 50px;
}

.placed-component.selected {
  border-color: red;
}