.baud-selector {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;

}

.baud-selector h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.baud-selector ul {
  list-style-type: none;
  padding: 0;
  max-height: 100px;
  overflow-y: auto; 
}

.baud-selector li {
  margin-bottom: 8px;
  font-size: 16px;
  color: #666;
}

