.com-port-selector {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 20vw;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.com-port-selector h5 {
  font-size: 14px;
  color: #333;
}

.com-port-selector ul {
  list-style-type: none;
  padding: 0;
  max-height: 100px;
  overflow-y: auto; 
  margin-top: 0%;
  margin-bottom: 0%;
}

.com-port-selector li {
  margin-bottom: 8px;
  font-size: 16px;
  color: #666;
}

.com-port-selector li:hover {
  background-color: #DDD;
}
