.Upper-input-container {
    display: flex;
    width: 60vw;
    flex-direction: row;
    margin: 10px auto; /* Centering the container horizontally */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
  }
  
  .Upper-input-container label {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 14px;
    justify-items: auto;
    font-weight: bold;
    color: #333;

  }
  
  .Upper-input-container label span {
    font-style: italic; /* Make text italic */
    font-family: 'Times New Roman', Times, serif; /* Use Times New Roman font */
  }
  
  .Upper-input-container input {
    margin-top: 5px;
    padding: 8px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
  }
  
  .Upper-input-container input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #f9f9f9;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  

  